# API и токены
API=...          # API Web-панели
TG_TOKEN=...     # Токен ТГ-Бота
TG_CHAT_ID=...   # Чат ТГ-Бота

# Настройка проекта
BASE_URL=...     # Ссылка на Web-панель
USERNAME=...     # Логин от Web-панели
PASSWORD=...     # Пароль от Web-панели

# Настройки для новых пользователей
LIMIT_IP=1       # По дефолту количество пользователей, которые могут использовать VPN по одной sub-ссылке равно 1
TOTAL_GB=0       # По дефолту количество трафика для каждого нового пользователя не ограничено
INBOUNDS_IDS=... # Напишите id подключений, которые сможет использовать пользователь. Введите по шаблону id1,id2,id3,...