# API и токены
API=...          # API Web-панели
TG_TOKEN=...     # Токен ТГ-Бота
TG_CHAT_ID=...   # Чат ТГ-Бота

# Настройка проекта
BASE_URL=...     # Ссылка на Web-панель
USERNAME=...     # Логин от Web-панели
PASSWORD=...     # Пароль от Web-панели
